<a href="https://colab.research.google.com/github/swarupyeole11/ML_Journey/blob/main/ML_Python_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#List Excercise

Let us say your expense for every month are listed below,
January - 2200
February - 2350
March - 2600
April - 2130
May - 2190
Create a list to store these monthly expenses and using that find out,


1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [7]:
expenses = [2200,2350,2600,2130,2190]

#1
print("Extra dollars in Feb : ",expenses[1]-expenses[0],"\n")
#2
print("Total Expenses in 3 months  ",expenses[0]+expenses[1]+expenses[2],"\n")
#3
if 2000 in expenses:
     print("2000 exist \n")
else:
    print("2000 does not exist \n")
#4
expenses.append(1980)
for x in expenses:
   print("x : ", x)
#5
expenses[3]+=200
for x in expenses:
   print("updated x : ", x)

Extra dollars in Feb :  150

Total Expenses in 3 months   7150

2000 does not exist

x :  2200
x :  2350
x :  2600
x :  2130
x :  2190
x :  1980
updated x :  2200
updated x :  2350
updated x :  2600
updated x :  2330
updated x :  2190
updated x :  1980

heros=['spider man','thor','hulk','iron man','captain america']

1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [30]:
heros=['spider man','thor','hulk','iron man','captain america']
#1
print(len(heros))
#2
heros.append('black panther')
#3
heros.remove('black panther')


#4
heros_to_remove = ['thor','hulk']

#/************************************************
## 1 way to delete elements
# for i in heros_to_remove:
#     del heros[heros.index(i)]
#*************************************************/

##2 other way to delte elements in python
[print(x) for x in heros]
print("\n")
#now printing after deleting
heros = [ x for x in heros if x not in heros_to_remove]
[print(y) for y in heros]
print('\n')
#now adding the

5
spider man
thor
hulk
iron man
captain america


spider man
iron man
captain america

In [24]:
heros=['spider man','thor','hulk','iron man','captain america']
heros.append('black panther')
#you can directly ouptut list dictionaries and other complex datasttructiores in python
print(heros)
heros.pop()
print(heros)
heros.insert(3,'black panther')
print(heros)

# the index will heat go from 2 to 3
# replacing the vaues with specific values
#this is like you are removinf values in that range and appeding a new list inside it at that place
print(heros[1:3])
#ninnja technique to remove specific range of elements
heros[1:3] = []
heros.insert(2,'dr stange')
print(heros)

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']
['spider man', 'thor', 'hulk', 'iron man', 'captain america']
['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']
['thor', 'hulk']
['spider man', 'black panther', 'dr stange', 'iron man', 'captain america']